{% extends "base_generic.html" %}

{% block content %}
<div class="row text-info">
    <h3>Que: {{ question.question_text }} </h3>
</div>
  
  <div class="text-success">
    <div class="row">
        <div class="col">
          <form action = "{{answer_url}}" method = "GET" >
            <input type = "hidden" name = "q_id" value = {{q_id}} /> 
            <input type ="submit"  class="btn btn-success" role="button" value="Answer this question">
          </form> 
        </div>
        <div class="col-5"></div>
        <div class="col">
          <strong>Author:</strong> <a href="{{ question.author.get_absolute_url }}">{{ question.author }}</a>
          <br>
          <strong>Created On:</strong> {{ question.date_created }}
        </div>
    </div>

  <div style="margin-left:20px;margin-top:10px; margin-right: 10px;">
    
    {% if answer_list %}
    <ul>
        <h4>All Answers</h4>
      {% for answer in answer_list %}

            <hr></hr>
          <div class="row text-dark">
            {{ answer.answer_text }} 
          </div>
          <br>
          <br>
          <div class="row text-success">

            <!-- upvote form -->
              <div class="col">
                <form action="{{upvote_url}}{{answer.id}}" method="POST">
                  {% csrf_token %}
                  <input type="submit" value="Upvote" class="btn-info">
                  <span class="text-dark">{{ answer.upvote }}</span>
                </form>
              </div>

            <!-- downvote form -->
            <div style="margin-left: -70px;" class="col">
                <form action="{{downvote_url}}{{answer.id}}" method="POST">
                  {% csrf_token %}
                  <input type="submit" value="Downvote" class="btn-info">
                  <span class="text-dark">{{ answer.downvote }}</span>
                </form>
              </div>


            <!-- comment form -->
            <div style="margin-left: -50px;" class="col">
                <form action="/myquora/answer/{{answer.id}}/comment/" method="GET">
                  {% csrf_token %}
                  <input type="submit" value="Comment" class="btn-info">
                </form>
              </div>


            <div class="col-6"></div>
              <div class="col">
                  by <a href="{{ answer.author.get_absolute_url }}">{{answer.author}} </a> 
                  (on {{answer.date_updated}}) 
              </div>
          </div>


          {% for key, comment in comment_dictionary.items %}
            {% if key == answer.id %}
              {% if comment %}
                {% for comm in comment %}
                  <div style="margin-left: 25px;" class="row text-dark">
                     {{ comm }} 
                  </div>
                  <br>
                {% endfor %}
              {% endif %}
            {% endif %}
          {% endfor %}
      {% endfor %}
    </ul>
    {% else %}

    <div class="text-danger">
        There are no answers for this question.
    </div>

    {% endif %}  

  </div>
{% endblock %}